{{#each blogPosts as |blogPost|}}
<div class="row mb-4">
    <h3>
        <a href="/blogposts/{{blogPost.id}}">{{blogPost.title}}</a>
    </h3>
    <h6>
        By: {{blogPost.user.name}} on {{format_date blogPost.post_date}}
    </h6>
    <p>
        {{blogPost.content}}
    </p>
</div>
{{/each}}